<div class="modal-header">
  <h5 class="modal-title">Eliminar Registro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <p>¿Estás seguro de que deseas eliminar el registro?</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="modal.dismiss('Cancel click')"
  >
    Cancelar
  </button>
  <button type="button" class="btn btn-danger" (click)="eliminarRegistro()">
    Eliminar
  </button>
</div>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{ display: loading ? 'flex' : 'none' }"
  style="align-items: center; justify-content: center"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cargando...</h5>
      </div>
      <div class="modal-body text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</div>
