<div *ngIf="list_series.length > 0; else noDataMessage">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha de estreno</th>
        <th scope="col">Estrellas</th>
        <th scope="col">Genero</th>
        <th scope="col">Precio de alquiler</th>
        <th scope="col">ATP</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let serie of list_series">
        <td>{{ serie.titulo }}</td>
        <td>{{ serie.descripcion }}</td>
        <td>{{ serie.fecha_estreno | date : "dd/MM/y" }}</td>
        <td>{{ serie.estrellas }}</td>
        <td>{{ serie.genero }}</td>
        <td>${{ serie.precio_alquiler }}</td>
        <td>{{ serie.atp ? "Sí" : "No" }}</td>
        <td>{{ serie.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noDataMessage>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Descripción</th>
        <th scope="col">Fecha de estreno</th>
        <th scope="col">Estrellas</th>
        <th scope="col">Genero</th>
        <th scope="col">Precio de alquiler</th>
        <th scope="col">ATP</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <p>No hay datos disponibles.</p>
    </tbody>
  </table>
</ng-template>

<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="d-flex">
    <button class="btn btn-success me-2" type="button">Nuevo</button>
    <button class="btn btn-warning me-2" type="button">Modificar</button>
    <button class="btn btn-secondary me-2" type="button">Anular</button>
    <button class="btn btn-danger me-2" type="button">Eliminar</button>
  </div>
  <button class="btn btn-primary" type="button">Salir</button>
</div>
